
<html lang="en">
<head>
    @*<meta http-equiv="Content-Security-Policy" content="default-src 'self' https://*.fontawesome.com https://*.gstatic.com https://www.gstatic.com/charts/51/css/core/tooltip.css  https://www.gstatic.com/charts/51/css/util/util.css data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">*@
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">
    <script src="https://kit.fontawesome.com/61d4ee6eed.js" crossorigin="anonymous"></script>

    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    

</head>
<body>

    <div class="container-fluid">
        <div class="row container">
            <div id="colMenu">
                <div class="container-fluid" id="divMenu">
                    <div class="menu" id="menu_monitoreo">
                        &nbsp; Monitoreo  &nbsp; <i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;
                    </div>
                    <div class="menu" id="menu_dispositivo">
                        &nbsp; Dispositivos  &nbsp; <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
                    </div>
                    <div class="menu" id="menu_contraseña">
                        &nbsp; Cambio contraseña  &nbsp;&nbsp; <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;
                    </div>
                </div>
            </div>
            <div id="tablas" class="container-fluid">

                <div class="login">
                    <br>
                    <div class="Title">
                        <i id="icontemp" class="fa fa-thermometer-half" aria-hidden="true"></i>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                    </div>
                    <br>
                    <div class="user">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input id="user" type="text">
                    </div>
                    <br>
                    <div class="password">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <input id="password" type="password">
                    </div>
                    <br>
                    <button>
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </button>
                    <br>

                </div>
            </div>

        </div>
    </div>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Proyecto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
