@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   Layout = "";
}

<h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dispositivos <i class="fa fa-home" aria-hidden="true"></i> </h1>

<div class="agregar">
    <div class="Title_agre">
        &nbsp;&nbsp; Nuevo
        <br />
    </div>
    <br />

    <div class="entradas_agregar">
        <div class="name">
            &nbsp;&nbsp;Nombre &nbsp;<input id="a_name" type="text">
        </div>
        <br>
        <div class="entrada">
            &nbsp;&nbsp;Máximo &nbsp;<input id="a_max" type="number">
        </div>
        <br>
        <div class="entrada">
            &nbsp;&nbsp;Mínimo &nbsp;<input id="a_min" type="number">
        </div>
        <br>
        <br>
        <div class="botones">
            <input id="btnOK" type="button" value="OK" /> &nbsp;&nbsp;&nbsp;&nbsp; <input id="btnCan" type="button" value="Cancel"/>
        </div>
        <br>
    </div>
</div>