@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}

<h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cambio contraseña <i class="fa fa-retweet" aria-hidden="true"></i> </h1>

<div class="agregar">
    <div class="Title_agre" id="nameContra">
        &nbsp; Cambio contraseña
        <br />
    </div>
    <br />

    <div class="entradas_contra">
        <div class="name" >
            Nueva contraseña &nbsp;<input id="ncontra" type="password">
        </div>
        <div class="entrada">
            Confirmar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id="ccontra" type="password">
        </div>
        <br>
        <br>
        <br>
        <div class="botones">
            <input id="btnOKContra" type="button" value="OK" /> &nbsp;&nbsp;&nbsp;&nbsp; <input id="btnCanContra" type="button" value="Cancel" />
        </div>
        <br>
    </div>
</div>