@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}

<h1> &nbsp;&nbsp;&nbsp;&nbsp;Dispositivos <i class="fa fa-home" aria-hidden="true"></i> </h1>

<div id="agregarDevice">
    <i class="fa fa-plus" aria-hidden="true"></i>
</div>


<table class="table-responsive-xl">
    <thead class="table-dark">
        <tr id="encabezado_user">
            <th>#   Id(DB)</th>
            <th>Nombre</th>
            <th>Medida actual</th>
            <th>Límite máximo</th>
            <th>Límite mínimo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="table_user">
    </tbody>
</table>